.t-cen {
    text-align: center;
}

.mar-top {
    margin-top: 85px;
}

.mar-bot {
    margin-bottom: 25px;
}

.active {
    color: #1266f1 !important;
}

.bg-image {
    background: linear-gradient(90deg, rgba(0, 215, 254, 1) 0%, rgba(0, 155, 255, 1) 35%, rgba(31, 101, 255, 1) 68%, rgba(44, 57, 255, 1) 100%);
    height: 300px;
}

.mask {
    background: rgba(0, 0, 0, 0.2);
}

.description {
    margin-top: 50px;
    margin-left: 350px;
}

.description .info {
    margin-top: 60px;
}

.description img {
    background-color: #f1628b;
    padding: 50px 50px 0px 50px;
    width: 350px;
    border-radius: 15px;
}

.skill {
    margin-bottom: 30px;
}

.skill .progress,
.progress-bar {
    height: 20px;
    border-radius: 10px;
}

.portafolio {
    display: flex;
    justify-content: center;
}

.portafolio .card {
    margin-top: 40px;
    width: 18rem;
}

.experiencia img {
    margin-right: 15px;
    background-color: #f1628b;
}

.videos {
    margin-top: 40px;
    margin-bottom: 40px;
}

.videos iframe {
    border-radius: 10px;
    width: 100%;
    height: 230px;
}

@media (max-width: 768px) {
    .description{
        margin: 10px;
    }

    .description .info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .description .img{
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }

    .description img{
        width: 80vw;
    }

    .mar-top {
        margin-top: 25px;
    }

    .skills {
        padding: 0px 30px;
    }

    .portafolio .col-md{
        padding: 0px 30px;
    }

    .portafolio .card {
        margin-top: 15px;
        width: 100%;
    }

    .videos {
        padding: 0px 30px;
    }

    .videos iframe {
        margin-bottom: 20px;
        height: 180px;
    }
}

